@page "/mesas"

<style>
    .btn {
        width: 80px;
        height: 80px;
        margin:10px;    
    }
</style>



<br />

<div class="row">
    <h3>Mesas</h3>
    <div>
        <button></button>
    </div>
</div>

<br />
<div>
    <div class="row" style="">
        <div class="col-3">
            <button type="button" class="btn btn-success">Mesa 1</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-success">Mesa 2</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-success">Mesa 3</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-danger">Mesa 4</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-success">Mesa 1</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-success">Mesa 2</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-success">Mesa 3</button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-danger">Mesa 4</button>
        </div>
    </div>
</div>




@code {

}
